PORT=5000
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=github_analyzer_db

# Optional: GitHub Personal Access Token (PAT) to increase GitHub API rate limits
# Highly recommended if you plan to make multiple requests (increases rate limits from 60 to 5000 requests/hour)
GITHUB_TOKEN=
